{% extends "base.html" %}
{% block content %}
<div class="new">
<form action="/books" method="post">
    <div>
        <label for="title">Title</label><br>
        <input type="text" id="title" name="title" placeholder="Title" required autofocus>
    </div>
    <div>
        <label for="author">Author</label><br>
        <select id = "author" name="author_id">
            {% for author in all_authors %}
            <option value ="{{author.id}}">{{author.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="genre">Genre</label><br>
        <input type="text" id="genre" name="genre" placeholder="Genre" required>
    </div>
    <button type="submit">Add Book</button>
</form>
</div>

{% endblock %}