*{
    text-align: center;
}
.menu{
    display: flex;

}
.menu > li{
    padding-right: 10px;
    list-style: none;
}
.menu > li > a {
    text-decoration: none;
} 
.delete-button {
    padding: 5px;
    margin: 5px;
}